.box1, .box2, .box3, .box4 {
    width: 100px;
    height: 100px;
    position: absolute;
}

.box1 {
    left: 0;
    top: 0;
    background-color: lightcoral;
}
.box2 {
    top: 0;
    right: 0;
    background-color: lightblue;
}
.box3 {
    left: 0;
    bottom: 0;
    background-color: lightgreen;
}
.box4 {
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 34);
}

